.AboutView {
  width: 1670px;
  height: 953px;
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fcfcfc;
  border-top: solid 20px #0099ef;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fadeAni {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* AboutContent */
.AboutView .AboutContent {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.AboutView .AboutContent .Left {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AboutView .AboutContent .Left p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 10px;
}
.AboutView .AboutContent .Left img {
  width: 350px;
  height: 467px;
  margin-bottom: 20px;
}
.AboutView .AboutContent .Right {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Noto Sans KR", sans-serif;
}
.AboutView .AboutContent .Right .Title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.AboutView .AboutContent .Right .Content {
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
  margin-bottom: 40px;
}


/* AboutContent2 */
.AboutView .AboutContent2 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AboutView .AboutContent2 .Top {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.AboutView .AboutContent2 .Top div{
  padding: 20px;
}
.AboutView .AboutContent2 .Top p {
  font-family: "Noto Sans KR", sans-serif;
}
.AboutView .AboutContent2 .Top .Title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.AboutView .AboutContent2 .Top .Content {
  font-size: 20px;
  font-weight: 500;
  padding-left: 40px;
  text-indent: -20px;
  margin-left: 20px;
}
.AboutView .AboutContent2 .Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
.AboutView .AboutContent2 .Bottom div {
  flex: 0.5;
  padding: 20px;
}
.AboutView .AboutContent2 .Bottom .Title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.AboutView .AboutContent2 .Bottom .Content {
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
  margin-bottom: 40px;
}

/* AboutButton */
.AboutButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}