.contentBtn {
    width: 427px;
    height: 100px;
    font-family: 'Noto sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.contentBtn:hover {
    background-color: rgba(0, 0, 0, 0);
    border: solid 5px #141840;
    .Top {
        color: #141840;
    }
    .Bottom {
        color: #141840;
    }
    transition: all 0.4s ease-in-out;
}

.prev {
    background-color: #303030;
}

.next {
    background-color: #303030;
}

.jump {
    background-color: #141840;
}

.contentBtn .Top {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.contentBtn .Bottom {
    font-size: 20px;
    font-weight: 600;
    color: #aaaaaa;
}

#onlyContact:hover {
    border: solid 5px #ffffff;
    .Top {
        color: #ffffff;
    }
    .Bottom {
        color: #FFFFFF;
    }
}