.LogoView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 126px;
  background-color: #303030;
}

.LogoView a {
  text-decoration: none;
}

.LogoView p {
  font-family: "Prompt", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #0099ef;
}

.LogoView p:hover {
  color: #36bc9b;
  transition: all 0.2s linear;
}
