.MainView {
  width: 1670px;
  height: 953px;
  /* background-image: url("../assets/images/MainViewBackground.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#fadeAni {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.MainView .TransparentPlate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 220px;
}

.Greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Noto Sans KR", sans-serif;
}

.Greetings .Content1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
}

.Greetings .Content1:hover {
  color: #0099ef;
  transition: all 0.1s linear;
  position: relative;
  animation: move1 0.2s infinite;
}

@keyframes move1 {
  0% {
    top: 0;
  }
  50% {
    top: 2px;
  }
  100% {
    top: 0;
  }
}

.Greetings .Content2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  color: #ffffff;
}

.Greetings .Content3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  color: #ffffff;
}

.Greetings .Content2 .Left {
  font-size: 80px;
  font-weight: 700;
}

.Greetings .Content2 .Left:hover {
  color: #36bc9b;
  transition: all 0.1s linear;
  position: relative;
  animation: move2 0.5s infinite;
}

@keyframes move2 {
  0% {
    top: 0;
  }
  50% {
    left: -4px;
  }
  100% {
    top: 0;
  }
}

.Greetings .Content3 .Left {
  font-size: 70px;
  font-weight: 700;
}

.Greetings .Content3 .Left:hover {
  color: #f0e68c;
  transition: all 0.2s linear;
  transform: scale(1.05);
}

.Greetings .Right {
  font-size: 40px;
  font-weight: 300;
  margin-left: 10px;
}

.ScrollButton {
  margin: 0 auto;
  margin-top: 150px;
}

.ScrollButton a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;

  position: relative;
  animation: move3 1.5s infinite;
}

@keyframes move3 {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.ScrollButton a .Text1 {
  color: #ffffff;
  font-size: 30px;
}

.ScrollButton a .Text2 {
  color: #aaaaaa;
  font-size: 20px;
}

.ScrollButton a .Img1 {
  margin-top: 15px;
  width: 64px;
  height: 64px;
}

.ScrollButton a .Img2 {
  width: 40px;
  height: 40px;
}
