.NavView button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px 0px 10px 0px;
  width: 250px;
  height: 60px;
  background-color: #303030;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  border: none;
  text-decoration: none;
}

.NavView button:hover {
  background-color: #222222;
  cursor: pointer;
  transition: all 0.2s linear;
}
.NavView button:hover p {
  color: #f0e68c;
  transition: all 0.2s linear;
}

.NavView button .left {
  color: #ffffff;
  font-size: 25px;
  margin-left: 25px;
}

.NavView button .right {
  color: #aaaaaa;
  font-size: 17px;
  margin-left: 5px;
}
