.NotFoundView {
    width: 1670px;
    height: 953px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NotFoundView p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    transition: all 0.1s linear;
    position: relative;
    animation: move1 1s infinite;
}

.NotFoundView .Top {
    color: #36bc9b;
}
.NotFoundView .Bottom {
    color: #0099ef;
}

@keyframes move1 {
    0% {
      top: 0;
    }
    50% {
      top: 20px;
    }
    100% {
      top: 0;
    }
  }